body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px 20px;
}

.logo {
    flex: 1;
}

nav {
    display: flex;
    flex: 2;
}

nav a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-size: 16px;
}

.right-header {
    display: flex;
    align-items: center;
    flex: 2;
}

.right-header input[type="search"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px 10px;
}

.icons i {
    margin: 0 5px;
    font-size: 20px; 
}

/* 主体产品区域样式 */
main .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    padding: 20px;
}

.product-card {
    width: calc(25% - 20px); 
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: center;
}

.product-card img {
    width: 80%; 
    height: auto;
}

footer {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ddd;
}

.social-media {
    display: flex;
    flex: 1;
}

.social-media i {
    padding: 0 5px;
    font-size: 24px; 
}

.footer-nav {
    display: flex;
    margin-left: auto;
}

.footer-nav a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-size: 16px;
}
