*{
    color: #333333;
}

.order-management {
    width: 90%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
.order-header{
    cursor: pointer;
    font-weight: 600;
}

.initiator-section, .participant-section {
    margin-bottom: 20px;
}

.order-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.initiator-order-card {
    flex: 1 1 48%;
    max-width: 48%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

.initiator-order-card-bottom{
    display: flex;
    flex-direction: row;
    .initiator-order-card-bottom-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .remain-quantity{

        display:flex;
        justify-content: left;
        .remain-quantity-quantity{
            color: #888888;
            font-weight: 600;
        }
    }
    .remain-quantity-content{
        color: #f2a640;
        font-weight: 600;
        margin-left: 13px;
    }
    .initiator-order-card-bottom-status{
        display:flex;
        justify-content: space-between;
        margin-top: 5px;
    }


}
.order-card-status-status{
    color: #888888;
    font-weight: 600;
    margin-right: 5px;
    /*margin-left: -40px;*/
}
.order-card-status-content{
    color: #f2a640;
    font-weight: 600;
    /*margin-left: 10px;*/
}
.participant-order-card {
    flex: 1 1 48%;
    max-width: 48%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    .order-card-img{
        width: 15%;
        height: 120px;
        object-fit: cover;
        margin-right: 50px;
        margin-left: 30px;
    }
}

.delete-order {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    color: #c8102e;
}

.participants {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.order-info{
    font-weight: 600;
    cursor: pointer;
}
.participant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 10px;
    span {
        margin-bottom: 5px;
        .participant-title-right{
            font-weight: 600;
            margin-left: 5px;
        }
    }
}
.participant-delete{
    position: absolute;
    right: 15px;
    top: 20px;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #c8102e;

}

.rating {
    text-align: center;
}

/*.rating .star {*/
/*    color: #ccc;*/
/*}*/

/*.rating .star.filled {*/
/*    color: #f0d130;*/
/*}*/
.rating .star {
    color: #ccc;
}

.rating .filled {
    color: #ff8c00;
}

.rating .half-filled::before {
    content: '★';
    position: absolute;
    clip: rect(0px, 8px, 30px, 0px);
    color: #ff8c00;
}
.rating .half-filled {
    position: relative;
}
.rating .half-filled::after {
    color: #ccc;
}

.start-button, .complete-button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    color: white;
    position: absolute;
    right:20px;
    bottom: 10px;
    font-weight: 600;
}

.order-card-right{
    display: flex;
    flex-direction: column;
}

.participant-order-card-details{
    margin-top: 5px;
}

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    box-sizing: border-box;
}

.popup-content{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
}

.closeButton{
    color: #999;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: white;
    &:hover,
    &:focus {
        color: #000;
        text-decoration: none;
    }
}

.stars {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}



.textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    resize: none;
    box-sizing: border-box;
}

.button{
    display: block;
    width: 100px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #ffa500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}

